html
{
        background-position: center;
        background-repeat: no-repeat;
   }



#logo {
    height: 300px;
    width: 300px;
    float: left;
    border-radius:150px;
}
table {
  
    margin-right: 800px;
    border-radius: 10px;
    
    box-shadow: 5px 5px #c7bbbb;
    width: 350px;
    height: 400px;
    padding: 100px 30px 70px 30px;
    border-left: 2px solid #caaeae;
    border-top: 2px solid #c7bbbb;
}
#but-submit{
    width:70px;
    height:30px;
}
td{
    padding:5px;
}
input {
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
#table-content{
    margin-left:300px;
    margin-top:150px;
}
.submit{
    padding:40px 5px 40px 5px;
    text-align:center;
}
.icons{
    text-decoration:none;

    
    
}
#Social-icons{
    margin-left:30px;
    
  
}
.nav-bar-horizontal{
    background-color: #d43a3a;
    width:100%;
    height:70px;
    margin-top:0px; 
    border-radius: 35px
}
#nav-tab-logo{
    height: 70px;
    width: 70px;
    float: left;
    margin:0px;
    border-radius:35px;
}
#headr{
    text-align: center;
    padding-top:20px; 

}
.ErrorMsg{
    color:red;
    font-size:12px;
    text-align: center;
}